$def with(exist)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Work</title>
    <link rel="stylesheet" href="/static/style/weui.css"/>
    <link rel="stylesheet" href="/static/example.css"/>
</head>
<body ontouchstart>
    <form name="workmain" method="post">
        <div class="hd">
        	<h1 class="page_title">添加工作种类</h1>
        </div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">工作名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" name="work" id="work" placeholder="请输入想要添加的工作名称"/>
                </div>
            </div>
        </div>

        <div class="weui_cells_tips">底部说明文字底部说明文字</div>
        <div class="bd spacing">
            <div class="button_sp_area">
                <button class="weui_btn weui_btn_plain_primary" id="Submit" name="Submit">提交</button>
            </div>
        </div>
        <script type="text/javascript">
            function closeDialog2(){
                document.getElementById("dialog2").style.display="none";
                $('dialog2').style = "display: none;";
            }
        </script>
        $if exist == "new":
            
        $elif exist == "exist":
            <div class="weui_dialog_alert" id="dialog2">
                <div class="weui_mask"></div>
                <div class="weui_dialog">
                    <div class="weui_dialog_hd"><strong class="weui_dialog_title">添加失败</strong></div>
                    <div class="weui_dialog_bd">此工作已经存在</div>
                    <div class="weui_dialog_ft">
                        <a href="javascript:closeDialog2();" class="weui_btn_dialog primary">确定</a>
                    </div>
                </div>
            </div>
        $elif exist == "null":
            <div class="weui_dialog_alert" id="dialog2">
                <div class="weui_mask"></div>
                <div class="weui_dialog">
                    <div class="weui_dialog_hd"><strong class="weui_dialog_title">输入无效</strong></div>
                    <div class="weui_dialog_bd">请输入工作名称</div>
                    <div class="weui_dialog_ft">
                        <a href="javascript:closeDialog2();" class="weui_btn_dialog primary">确定</a>
                    </div>
                </div>
            </div>
    </form>
</body>
</html>